<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AjudaUFPR</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" rel="stylesheet">
  <link th:href="@{/styles/sidebar.css}" rel="stylesheet" />
</head>
<body id="body-pd">
<div th:replace="fragments/header :: header">...</div>
<div class="container-fluid">
  <br>
  <br>
  <div class="row ms-3">
    <div class="col-10">
      <h1>Locais</h1>
    </div>
    <div class="col-2">
      <a class="btn btn-danger" href="/create-location" role="button">Novo local</a>
    </div>
  </div>
  <hr class="bg-dark border-1 border-top border-dark">
  <br>
  <br>
  <form th:action="@{/search-location}" method="post">
    <div class="row mx-3">
      <div class="col-2">
        <label for="id" class="form-label">ID</label>
        <input type="text" name="id" id="id" value="" class="form-control">
      </div>
      <div class="col-4">
        <label for="name" class="form-label">Nome</label>
        <input type="text" name="name" id="name" value="" class="form-control">
      </div>
    </div>
    <br>
    <div class="row mx-3">
      <div class="col-2">
        <button type="submit" class="btn btn-primary ms-auto">
          Pesquisar
        </button>
      </div>
    </div>
  </form>
  <br>
  <hr class="bg-dark border-1 border-top border-dark">
  <br>
  <br>
  <div class="row">
    <div class="col-10">
      <div th:switch="${locations}">
        <div th:case="null" class="row mx-5 d-flex justify-content-center">
          <div class="col-4 justify-content-center">
            <h4>Nenhum local cadastrado</h4>
          </div>
        </div>
        <div class="row mx-5" th:case="*">
          <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
              <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Descrição</th>
                <th scope="col">Editar</th>
                <th scope="col">Excluir</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="location : ${locations}">
                <th scope="row"><span th:text="${location.id}"></span></th>
                <td><span th:text="${location.name}"></span></td>
                <td><span th:text="${location.description}"></span></td>
                <td><a th:href="@{/update-location/{id}(id=${location.id})}" th:method="get"><i class="bx bx-edit nav_icon"></i></a></td>
                <td><a th:href="@{/delete-location/{id}(id=${location.id})}" th:method="delete" onclick="return confirm('Tem certeza que deseja excluir esse registro?')"><i class="bx bx-folder-minus nav_icon"></i></a></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script type="text/javascript"src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/sidebar.js}"></script>
</html>