<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" rel="stylesheet">
  <link th:href="@{/styles/sidebar.css}" rel="stylesheet" />
</head>
<body id="body-pd">
<div th:replace="fragments/header :: header">...</div>
<div class="height-100">
  </br>
  <h2>Atualizar local</h2>
  </br>
  <form method="POST" th:object="${location}" th:action="@{/update-location}" action="#" >
    <input type="hidden" id="id" name="id" th:field="*{id}"/>
    <div class="col-sm-6">
      <label for="name" class="form-label">Nome</label>
      <input type="text" class="form-control" id="name" th:field="*{name}">
    </div>
    </br>
    <div class="col-sm-6">
      <label for="description" class="form-label">Descrição</label>
      <input type="text" class="form-control" id="description" th:field="*{description}">
    </div>
    </br>
    <div class="col-sm-6 d-flex justify-content-end">
      <button type="submit" class="btn btn-success ms-auto">
        Atualizar local
      </button>
    </div>
  </form>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script type="text/javascript"src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/sidebar.js}"></script>
</html>